body {
  background-color: #c4c4c4;
}
header {
  width: 100%;
  height: 13vh;
  background-color: #ffffff;
}
footer {
  background-color: #df3333;
  width: 100%;
  height: 13vh;
}
nav {
  background-color: #726666;
}
.card {
  background-color: #fff;
  padding: 10px;
  width: 200px;
}
.card__title {
  color: #282828;
  font-size: 14px;
}
.card__description {
  color: #282828;
  font-size: 12px;
}
.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
  position: fixed;
  bottom: 0;
}
