.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  padding: 16px 8px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .card__title {
    color: #282828;
    font-size: 12px;
  }

  .card__description {
    color: #282828;
    font-size: 10px;
    text-overflow: ellipsis;
  }
}

@media screen and (max-width: 320px) {
  .card__description {
    display: none;
  }
}
