.header {
  background-color: white;
}

.card {
  background-color: #334;
  padding: 16px 8px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 10px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}
