.card {
  background-color: #fff;
  padding: 10px;
}

.card__img-top {
  height: 182px;
  width: 288px;
  margin-bottom: 10px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}