.header{
    background-color: #ffffff;
}

.backgraund{
    color: #c4c4c4;
}



.nav{
    color: #726666;
}

.card-container{
    display: flex;
    justify-content: center;
    display: flex;
}

.card {
    background-color: #fff;
    padding: 8px;
    align-items: center;
}

.card__img-top{
    width: 288px;
    height: 182px;
    margin-bottom: 16px ;

}

.card__title{
    color: #282828;
    font-size: 14px;
}

.card__description{
    color: #282828;
    font-size:12px;
}

.footer{
    color: #ffffff;
}




/* タブレット → 768px（iPad） → カードの説明の文字を小さくする カードのタイトルの文字を小さくする。説明が大きすぎる場合は三点リーダーをつける。
✅ スマホ → 320px（iPhoneSE）→ カードの説明を消してタイトルだけにする。タイトルの文字の大きさを小さくする。
プラスアルファで別の値にも対応させたい場合は、自分で設定してみよう！ */


@media screen and (max-width:768px){
    /* .card__description{
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    } */
    

    .card__title{
        font-size: 10px;
    }

    .card__description{
        font-size:8px;
    }

}

@media screen and (max-width:320px){


    .card__title{
        font-size: 8px;
    }

    .card__description{
        font-size:6px;
        display: none;
    }

}