html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background-color: #c4c4c4;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100vw;
}

header {
  background-color: #ffffff;
  height: 24px;
}

.main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  background-color: #ffffff;
  margin: 40px;
  padding: 4px;
  width: 288px;
}

.card__title {
  color: #282828;
  font-size: 14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 8px;
}

footer {
  background-color: #ffffff;
  height: 24px;
}

/* #####タブレット表示時##### */
@media (max-width: 768px) {
  .card__title {
    font-size: 12px;
  }
  .card__description {
    font-size: 10px;
  }
}

/* #####スマホ表示時##### */
@media (max-width: 320px) {
  .card__title {
    font-size: 8px;
  }
  .card__description {
    display: none;
  }
}
