.card {
    background-color: #ffffff
    padding: 8px 8px;
}

.card__title {
    color: #282828;
    font-size: 14px;
}

.card__description {
    font-color:ã€€#282828;
    font-size: 12px;
}

.card__img-top {
    width: 288px;
    height: 182px;
    margin-bottom: 8px;
}