.card{
  background-color: #ffffff;
  padding:16px;
}
.card__title{
  color:#000000;
  font-size: 14px;

}
.card__description{
  color:#000000;
  font-size: 12px;
}
.card__img-top{
  width: 288px;
  height: 182px;
  margin-bottom: 8px;
}
header{
  background-color: #ffffff;
  width: 288px;
  height: 182px;
}
body{
  background-color: #c4c4c4;
}
footer{
  background-color: #ffffff;
  width: 288px;
  height: 182px;
}