.card-component {
  display: flex;
}

.card {
  background-color: #c4c4c4;
  padding: 1px;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.card__title {
  font-size: 14px;
  color: #383535;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top {
  width: 288px;
  height: 182px;
  margin-bottom: 1px;
}

header {
  background-color: #ffffff;
}

body {
  color: #000000;
}

footer {
  background-color: #ffffff;
}
