body{
    background-color: #C4C4C4;
}
header{
    background-color: #ffffff;
}
main{
    background-color: #ffffff;
}
footer{
    background-color: #ffffff;
}
.card{
    background-color: #fff;
    padding: 10px;
}
.card__img-top{
    width: 288px;
    height: 182px;
    margin-bottom: 1%;
}
.card__title{
    font-size: 22px;
}
.card__description{
    color: #282828;
    font-size: 12px;
}
.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
}