body {
  background-color: #C4C4C4;
  /*padding-top: 90px;*/
}

header {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  width: 100%;
  height: 3%;
  padding: 15px 0;
  bottom: 0;
  left: 0;
  /*margin: 0 auto;*/
}

footer {
  display: flex;
  position: fixed;
  background-color: #ffffff;
  width : 100%;
  height: 3%;
  padding: 15px 0;
  top: 0;
  left: 0;
}

.card {
  background-color: #fff;
  padding: 30px;
  margin: 80px;
  width: 348px;
  height: 282px;
}

.card__title {
  color: #282828;
  font-size:  14px;
}

.card__description {
  color: #282828;
  font-size: 12px;
}

.card__img-top{
  width: 288px;
  height: 182px;
  margin-bottom:  20px;
}

