body {
  background-color: #fff;
}
p {
  color: #282828;
}
.card__title {
  font-size: 14px;
}
.card__description {
  font-size: 12px;
}
img {
  width: 288px;
  height: 182px;
  
}
.card__img-top {
  margin-bottom: 1px;
}
.card {
  padding: 1px;
}