@charset "utf-8";

#red {
  width: 300px;
  height: 300px;
  background-color: #ff6666;
}

#blue {
  width: 300px;
  height: 300px;
  background-color: #0000ff;
}

#green {
  width: 300px;
  height: 300px;
  background-color: #3cb371;
}
